body {
  padding: 10px;
  font-family: sans-serif;
}

a.login-link-text {
  color: #fff;
}

#login-buttons {
  padding-top: 12px;
  color: #fff;
}

.container > span {
  padding-top: 25px;
}

.chip > span {
  color: #fff !important;
}
